___
<a href='https://www.darshan.ac.in/'><center> <img width=20% height=20% src='https://www.darshan.ac.in/Content/media/DU_Logo.svg'/></center></a>
<pre>
<center><b>Python</b></center>
<center><b>Lab - 8(TUPLE & SET)</b></center>    
</pre>
____

<pre>
<center><h1>A PROGRAM</h1></center>
</pre>

## 1. WAP to enter values and reverse the tuple.

In [3]:
s=int(input("enter size of touple "))
lst=[]

for i in range(s):
    el=input("Enter element in touple")
    lst.append(el)

tpl=tuple(lst)
print("Normal Tuple is ",tpl)
print("Reverse Tuple is ",tpl[::-1])

Normal Tuple is  ('jahir', 'harsh', 'vivek', 'kunuu')
Reverse Tuple is  ('kunuu', 'vivek', 'harsh', 'jahir')

## 2. WAP to remove duplicate values from tuple.

In [7]:
s=int(input("enter size of touple "))
lst=[]
dp=[]
for i in range(s):
    el=input("Enter element in touple")
    lst.append(el)
    if(lst[i] not in dp):
        dp.append(lst[i])
        
tpl1=tuple(lst)
print("Normal tuple ",tpl1)

tpl2=tuple(dp)
print("removerd tuple ",tpl2)

Normal tuple  ('10', '20', '10', '50')
removerd tuple  ('10', '20', '50')

In [13]:
s=int(input("enter size of touple "))
lst=[]
for i in range(s):
    el=input("Enter element in touple")
    lst.append(el)
print("Normal tuple : ", tuple(lst))
st=set(lst)
tpl=tuple(st)
print("Removed tuple is ",tpl)

Normal tuple :  ('10', '20', '10')
Removed tuple is  ('20', '10')

## 3. WAP to check if tuple is distinct or not.

In [12]:
s=int(input("enter size of touple "))
lst=[]
dp=[]
for i in range(s):
    el=input("Enter element in touple")
    lst.append(el)
st=set(lst) 
tpl=tuple(lst)   

if len(st)==len(tpl):
    print("Distinct tuple")
else:
    print("Not distinct tuple")

Distinct tuple

## 4. WAP to find Tuples with positive elements in list of tuples.

In [6]:
s=int(input("Enter size of tuple"))
g=int(input("Enter size of tuple group "))
lst_tpl=[]
for i in range(s):
    lst_elmt=[]
    for j in range(g):
        d=int(input("enter element in tuple : "))
        lst_elmt.append(d)
    lst_tpl.append(tuple(lst_elmt))

print("your tuple is ",lst_tpl)

positive_tpl=[]
for tp in (lst_tpl):
    is_positive=True
    for el in tp:
        if el < 0:
            is_positive=False
            break
    if is_positive:
        positive_tpl.append(tp)       

print("positive tuple is ",positive_tpl)

your tuple is  [(3, 5, 6), (8, 9, 7), (5, -6, 3)]
positive tuple is  [(3, 5, 6), (8, 9, 7)]

## 5. WAP to find tuples that have all elements divisible by K from a list of tuples.

In [7]:
s=int(input("Enter size of tuple"))
g=int(input("Enter size of tuple group "))
lst_tpl=[]
for i in range(s):
    lst_elmt=[]
    for j in range(g):
        d=int(input("enter element in tuple : "))
        lst_elmt.append(d)
    lst_tpl.append(tuple(lst_elmt))

print("your tuple is ",lst_tpl)

k=int(input("enter value of K for division :"))

divisible_tpl=[]
for tp in (lst_tpl):
    is_divisible=True
    for el in tp:
        if el % k ==0:
            is_divisible= True
        else:
            is_divisible=False
            break    
    if is_divisible:
        divisible_tpl.append(tp)       
print("K = ",k)
print("divisible tuple is ",divisible_tpl)

your tuple is  [(12, 5, 42), (88, 64, 24), (31, 33, 99)]
divisible tuple is  [(88, 64, 24)]

## 6. WAP to swap two tuples entered by user.

In [9]:
s1=int(input("enter size of First touple "))
lst_1=[]

for i in range(s1):
    el=input("Enter element in first touple")
    lst_1.append(el)

tpl_1=tuple(lst_1)
print("Noramal tpl_1 ",tpl_1)

s2=int(input("enter size of Second touple "))
lst_2=[]

for i in range(s2):
    el=input("Enter element in Second touple")
    lst_2.append(el)

tpl_2=tuple(lst_2)
print("Noramal tpl_2 ",tpl_2)


tpl_1,tpl_2 = tpl_2,tpl_1


print("tpl_1",tpl_1)
print("tpl_2",tpl_2)

Noramal tpl_1  ('10', '20', '30')
Noramal tpl_2  ('50', '60', '70')
tpl_1 ('50', '60', '70')
tpl_2 ('10', '20', '30')

## 7. WAP to create a set by a list of elements to a set and find its size.

In [10]:
s=int(input("Enyter size of set "))

my_st=set()

for i in range(s):
    d=int(input("Enter element in set "))
    my_st.add(d)

print("set is ",my_st)
print("Size is ",len(my_st))

set is  {33, 11, 44, 22}
Size is  4

## 8. WAP to find maximum and minimum in a set.

In [14]:
s=int(input("Enyter size of set "))

my_st=set()

for i in range(s):
    d=int(input("Enter element in set "))
    my_st.add(d)


print("set is ",my_st)
print("maxx is ",max(my_st))
print("min is ",min(my_st))

set is  {2, 11, 98, 55}
maxx is  98
min is  2

## 9. WAP to remove items from a set given by user.

In [3]:
s=int(input("Enyter size of set "))

my_st=set()

for i in range(s):
    d=int(input("Enter element in set "))
    my_st.add(d)

print("normal set",my_st)
t=int(input("How many items you want to delete"))

stk2=set()
for i in range(t):
    k=int(input("enter items to delete "))
    stk2.add(k)

print("deleted set ",my_st-stk2)

normal set {40, 10, 20, 30}
deleted set  {10, 20}

## 10. WAP to convert a given set into tuple and tuple into set.

In [4]:
s=int(input("Enyter size of set "))

my_st=set()

for i in range(s):
    d=int(input("Enter element in set "))
    my_st.add(d)

print("Set =",my_st)

print("tuple =",tuple(my_st))

Set = {1, 2, 3, 4}
tuple = (1, 2, 3, 4)

<pre>
<center><h1>B PROGRAM</h1></center>
</pre>

## 1. WAP to convert binary tuple into integer.

1

## 2. WAP to sort lists in tuple.

## 3. WAP to perform union of two sets.

## 4. WAP to perform intersection of two sets.

## 5. WAP to get all subsets of given size of a set.