___
<a href='https://www.darshan.ac.in/'><center> <img width=20% height=20% src='https://www.darshan.ac.in/Content/media/DU_Logo.svg'/></center></a>
<pre>
<center><b>Python</b></center>
<center><b>Lab - 5(LOOP)</b></center>    
</pre>
____

<pre>
<h3> <p style="color:red"> USING WHILE LOOP</p> </h3>
</pre>

## 1) WAP to print 1 to n

In [1]:
a=int(input("Enter your number: "))
i=0
while(i<a):
    i=i+1
    print(i)

Enter your number: 10
1
2
3
4
5
6
7
8
9
10

## 2)WAP to print odd numbers between given two numbers.

In [2]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
i=a
while(i<=b):
    if(i%2!=0):
        print(i)
    i=i+1

Enter first number: 10
Enter second number: 30
11
13
15
17
19
21
23
25
27
29

 ## 3) WAP to print n number of sum

In [3]:
n=int(input("Enter Number: "))
i=0
sum=0
while(i<n):
    i=i+1
    sum=sum+i
print(sum)

Enter Number: 5
15

## 4) WAP to print sum of digits of given number.

In [4]:
num=int(input("Enter Number: "))
sum=0
rem=0
while(num!=0):
    rem=num%10
    sum=sum+rem
    num=num//10
print(sum)

Enter Number: 1306
10

## 5)  WAP to find whether the given number is prime or not.

In [5]:
num=int(input("Enter number: "))
i=2
flag=0
while(i<(num/2)):
    if(num%i==0):
        flag=1
        break
    else:
        i=i+1
if(flag==0):
    print("Prime")
else:
    print("Not Prime")

Enter number: 9
Not Prime

<pre>
<h3><p style="color:red"> USING FOR LOOP </p> </h3>
</pre>

## 7) WAP to print sum of series 1–2+3–4+5–6+7...n

In [7]:
n=int(input("Enter Number: "))
sum=0
i=0
for i in range(1,n+1):
    if(n%i!=0):
        sum=sum+i
    else:
        sum=sum-i
print(sum)

Enter Number: 5
3

## 8) WAP to print multiplication table of given number.(using for loop)

In [9]:
n=int(input("Enter number: "))
for i in range(1,11):
    print(f"{n}*{i}={n*i}")

Enter number: 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

## 9) WAP to find factorial of the given number.

In [10]:
n=int(input("Enter number: "))
i=0
fact=1
if n>1:
    for i in range(1,n+1):
        fact=fact*i
    print(fact)

Enter number: 5
120

## 10) WAP to find out prime numbers between given two numbers.

In [5]:
m=int(input("Enter first number: "))
n=int(input("Enter second number: "))

for num in range(m, n+1):
    if num > 1:
        flag = 0
        for i in range(2, int(num/2) + 1):
            if (num % i) == 0:
                flag = 1
                break
        if flag == 0:
            print(num,"Prime Number")

Enter first number: 1
Enter second number: 10
2 Prime Number
3 Prime Number
5 Prime Number
7 Prime Number

<h3><p style="color:red">EXTRA</p></h3>

## 1) WAP to Find largest prime factor of given number.

In [10]:
a=int(input("Enter number"))
max=0
list1=list()
for i in range(1,a+1):
    if(a%i==0):
        flag=0
        for j in range(2,i//2+1):
            if i%j==0:
                flag=1
        if flag==0:
            if i>max:
                max=i
print(max)

Enter number19
19

## 2) WAP to print Fibonacci series up to number given by user.

In [6]:
n=int(input("Enter Number "))
sum=0
a=0
b=1
print('0')
print('1')
for num in range(0,n-2):
    sum=a+b
    a=b
    b=sum
    print(sum)

Enter Number 5
0
1
1
2
3


## 3) WAP to print all the number which are divisible by 11 but not divisible by 2 betweengiven two numbers.

In [7]:
a=int(input("Enter 1st Number: "))
b=int(input("Enter 2nd Number: "))

for num in range(a,b+1):
    if(num%11==0 and num%2!=0):
        print(num)

Enter 1st Number: 3
Enter 2nd Number: 13
11